<form class="form-inline weather-form" [formGroup]="searchCity" (ngSubmit)="onSubmit()">
    <input type="text" class="form-control mr-2 col-lg-5" id="searchCity" formControlName="searchField" placeholder="select city">
    <select class="form-control mr-2 col-lg-5" id="exampleFormControlSelect1" formControlName="unitsField">
      <option *ngFor="let unit of units" [value]="unit">{{unit}}  </option>
    </select>
    <button type="submit" class="btn btn-primary col-lg-1"><fa-icon [icon]="faPlus"></fa-icon></button>
</form>
<div class="alert alert-danger" role="alert" *ngIf="alertMessage">
  Search field is missing
</div>